<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="${title}">All tasks to do</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">OhMyCode!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
            </a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/tasks}">Tasks to do</a>
            </li>
            <li class="nav-item active"><a class="nav-link" href="#">Admin Access
                <span class="sr-only">(current)</span>
            </a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1
            class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
            th:text="${title}"></h1>
    <p><a th:href="@{/form}" class="btn btn-success btn-xs">Add New Task</a></p>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Status</th>
            <th>User</th>
            <th>Creation Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo: ${tasks}">
            <td th:text="${todo.id}"></td>
            <td th:text="${todo.title}"></td>
            <td th:text="${todo.status"></td>
            <td th:text="${todo.user}"></td>
            <td th:text="${todo.creation}"></td>
            <td><a class="btn btn-primary btn-xs" th:href="@{/form/} + ${todo.id}" th:text="'Edit'"></a></td>
            <td><a class="btn btn-danger btn-xs" th:href="@{/eliminar/} + ${todo.id}" th:text="'Delete'" onclick="return confirm('¿Are you sure to delete this task?');"></a></td>
        </tr>
        </tbody>

    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>